          <section class="section pt-large pb-xlarge bg-portfolio-10">
            <div class="container">
              <div class="row justify-content-between">
                <div class="col-lg-7">
                  <section class="section section-content mb-4 mb-lg-0">
                    <div class="section-content__content content js-arts-split-text arts-split-text" data-arts-os-animation="true" data-arts-os-animation-name="animateText" data-arts-split-text="lines" data-arts-split-text-set="lines" data-arts-split-text-overflow-wrap="lines">
                      <h2 class="h2 mt-0">We always produce </h2>
                      <p class="mb-lg-0 mb-3">Rozmawiamy, planujemy, szkicujemy, tropimy nowinki techniczne, depczemy po piętach najnowszym trendom. Testujemy, poprawiamy, wdrażamy w życie. Wszystko po to, aby stworzyć spójny, nowoczesny i funkcjonalny wizerunek firmy... w pełni zgrany design.</p>
                    </div>
                  </section>
                </div>
                <div class="col-lg-4">
                  <section class="section section-content">
                    <div class="section-content__content content js-arts-split-text arts-split-text" data-arts-os-animation="true" data-arts-os-animation-name="animateText" data-arts-split-text="lines" data-arts-split-text-set="lines" data-arts-split-text-overflow-wrap="lines">
                      <p class="small mt-3 mb-0">Rozmawiamy</p>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </section>