            <section class="section pt-large pb-small">
              <div class="container">
                <div class="row justify-content-between gy-lg-0 gy-3">
                  <div class="col-lg-6">
                    <section class="section section-content mt-4 mb-1">
                      <div class="section-content__content content js-arts-split-text arts-split-text"
                        data-arts-os-animation="true" data-arts-os-animation-name="animateText"
                        data-arts-split-text="lines" data-arts-split-text-set="lines"
                        data-arts-split-text-overflow-wrap="lines">
                        <h2 class="h2">#zgrany design</h2>
                        <h3 class="h3 mb-3">
                          Tworzę inspirujące strony</h2>
                          <p>Rozmawiam, planuje, szkicuje, na bieżąco tropię nowinki techniczne, depczę po
                            piętach najnowszym trendom. Koduję, testuje, poprawiam, optymalizyje wdrażam w
                            życie. Wszystko po to, aby stworzyć w pełni spójny, atrakcyjny i funkcjonalny wizerunek dla
                            Twojej firmy... nowoczesny i ponadczasowy.
                          </p>
                          <div class="slider__wrapper-button mt-2 mb-1"><a
                              class="button button_icon button_bordered bg-gray-1" href="/o-mnie/"
                              data-arts-hover="trigger"><span class="button__label button__label-normal"><span
                                  class="button__title">O
                                  mnie</span><span
                                  class="button__icon button__icon_after knz-arrow-right"></span></span><span
                                class="button__label button__label-hover"><span class="button__title">O
                                  mnie</span><span
                                  class="button__icon button__icon_after knz-arrow-right"></span></span></a>
                          </div>
                      </div>
                    </section>
                  </div>
                  <div class="col-lg-4 border-left mt-5 mt-md-3">
                    <section class="section section-content">
                      <div class="section-content__content content d-flex flex-wrap">
                        <!-- counter -->
                        <div class="col-4 col-md-12 aside-counters__wrapper-item mb-4">
                          <div class="counter js-counter" data-arts-os-animation="true"
                            data-arts-os-animation-name="animateCounter"
                            data-arts-os-animation-params="{prefix: '', start: 0, target: 10, suffix: ' +', duration: 1.4}">
                            <div class="counter__number h1 js-counter__number color-accent-1">10 +
                            </div>
                            <!-- - animated number -->
                            <div class="counter__label">doświadczenia</div>
                          </div>
                        </div>
                        <!-- - counter -->
                        <!-- counter -->
                        <div class="col-4 col-md-12 aside-counters__wrapper-item mb-4">
                          <div class="counter js-counter" data-arts-os-animation="true"
                            data-arts-os-animation-name="animateCounter"
                            data-arts-os-animation-params="{prefix: '', start: 0, target: 60, suffix: ' +', duration: 2.4}">
                            <div class="counter__number h1 js-counter__number color-accent-1">60 +
                            </div>
                            <!-- - animated number -->
                            <div class="counter__label">projektów</div>
                          </div>
                        </div>
                        <!-- - counter -->
                        <!-- counter -->
                        <div class="col-4 col-md-12 aside-counters__wrapper-item mb-4">
                          <div class="counter js-counter" data-arts-os-animation="true"
                            data-arts-os-animation-name="animateCounter"
                            data-arts-os-animation-params="{prefix: '', start: 0, target: 40, suffix: ' +', duration: 2.4}">
                            <div class="counter__number h1 js-counter__number color-accent-1">40 +
                            </div>
                            <!-- - animated number -->
                            <div class="counter__label">stron i sklepów</div>
                          </div>
                        </div>
                        <!-- - counter -->
                      </div>
                    </section>
                  </div>
                </div>
              </div>
            </section>