<section class="section section-content pb-large" data-arts-theme-text="light">
   <div class="container">
     <div class="banner-pricing row align-items-center justify-content-between" data-arts-os-animation="true" data-arts-os-animation-name="animateJump">
      <div class="col-md-6 col-lg-7">
         <h3>
            Zamów bezpłatną wycenę i odśwież <br class="d-none d-md-block"/>ze mną wizerunek
            <span class="color-accent">
               Twojej firmy!</span>
         </h3>
      </div>
      <div class="col-md-6 col-lg-4">
         <div class="d-flex flex-wrap align-items-center">
            <div class="col-4">
               <img src="assets/img/general/avatar.jpg" class="avatar" alt="Avatar">
            </div>
            <div class="col-8">
               <h5 class="mt-0 text-start text-md-start">
                  Porozmawiajmy 
               </h5>
               <a class="button button_icon button_solid bg-light-1" href="#">
               <span class="button__label button__label-normal">
                  <span class="button__title">Darmowa wycena</span>
                  <span class="button__icon button__icon_after knz-arrow-right"></span>
               </span>
               <span class="button__label button__label-hover">
                  <span class="button__title">Darmowa wycena</span>
                  <span class="button__icon button__icon_after knz-arrow-right"></span>
               </span>
               </a>
            </div>
         </div>
      </div>
   </div>
   </div>
</section>