<section class="section section-content pt-medium pb-large">
    <div class="container">
        <div class="row justify-content-center g-4">
            <div class="col-lg-3 col-md-4 col-6">
                <div class="figure-category text-center" data-arts-os-animation="true" data-arts-os-animation-name="animateJump">
                    <a
                        class="figure-category__link js-arts-cursor-no-highlight"
                        href="033-portfolio-categories-details.html"
                        data-arts-cursor="data-arts-cursor"
                        data-arts-cursor-scale="current"
                        data-arts-cursor-magnetic="data-arts-cursor-magnetic"
                        data-arts-cursor-hide-native="true">
                        <div class="figure-category__subheading small">3 projects</div>
                        <div class="figure-category__icon knz-identity"></div>
                        <div class="figure-category__heading h5">Identity</div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="figure-category text-center" data-arts-os-animation="true" data-arts-os-animation-name="animateJump">
                    <a
                        class="figure-category__link js-arts-cursor-no-highlight"
                        href="033-portfolio-categories-details.html"
                        data-arts-cursor="data-arts-cursor"
                        data-arts-cursor-scale="current"
                        data-arts-cursor-magnetic="data-arts-cursor-magnetic"
                        data-arts-cursor-hide-native="true">
                        <div class="figure-category__subheading small">4 projects</div>
                        <div class="figure-category__icon knz-concept"></div>
                        <div class="figure-category__heading h5">Concept</div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="figure-category text-center" data-arts-os-animation="true" data-arts-os-animation-name="animateJump">
                    <a
                        class="figure-category__link js-arts-cursor-no-highlight"
                        href="033-portfolio-categories-details.html"
                        data-arts-cursor="data-arts-cursor"
                        data-arts-cursor-scale="current"
                        data-arts-cursor-magnetic="data-arts-cursor-magnetic"
                        data-arts-cursor-hide-native="true">
                        <div class="figure-category__subheading small">2 projects</div>
                        <div class="figure-category__icon knz-interior"></div>
                        <div class="figure-category__heading h5">Interior</div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="figure-category text-center" data-arts-os-animation="true" data-arts-os-animation-name="animateJump">
                    <a
                        class="figure-category__link js-arts-cursor-no-highlight"
                        href="033-portfolio-categories-details.html"
                        data-arts-cursor="data-arts-cursor"
                        data-arts-cursor-scale="current"
                        data-arts-cursor-magnetic="data-arts-cursor-magnetic"
                        data-arts-cursor-hide-native="true">
                        <div class="figure-category__subheading small">3 projects</div>
                        <div class="figure-category__icon knz-uiux"></div>
                        <div class="figure-category__heading h5">UI / UX</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>