          <aside class="aside aside-counters section-content bg-white-1 py-large text-center">
            <div class="container">
              <div class="row justify-content-center gy-md-0 gy-4">
                <!-- counter -->
                <div class="aside-counters__wrapper-item col-md-4">
                  <div class="counter counter_circle js-counter" data-arts-os-animation="true" data-arts-os-animation-name="animateCounter" data-arts-os-animation-params="{prefix: '+', start: 0, target: 34, suffix: '%', duration: 2.4}">
                    <!-- animated number -->
                    <div class="counter__number h1 js-counter__number">+34%
                    </div>
                    <!-- - animated number -->
                    <div class="counter__label">Conversion Increase</div>
                    <svg class="svg-circle" viewBox="0 0 280 280">
                      <circle class="circle" cx="140" cy="140" r="139" fill="none"></circle>
                    </svg>
                  </div>
                </div>
                <!-- - counter -->
                <!-- counter -->
                <div class="aside-counters__wrapper-item col-md-4">
                  <div class="counter counter_circle js-counter" data-arts-os-animation="true" data-arts-os-animation-name="animateCounter" data-arts-os-animation-params="{prefix: '+', start: 0, target: 15, suffix: '%', duration: 2.4}">
                    <!-- animated number -->
                    <div class="counter__number h1 js-counter__number">+15%
                    </div>
                    <!-- - animated number -->
                    <div class="counter__label">Screen Views</div>
                    <svg class="svg-circle" viewBox="0 0 280 280">
                      <circle class="circle" cx="140" cy="140" r="139" fill="none"></circle>
                    </svg>
                  </div>
                </div>
                <!-- - counter -->
                <!-- counter -->
                <div class="aside-counters__wrapper-item col-md-4">
                  <div class="counter counter_circle js-counter" data-arts-os-animation="true" data-arts-os-animation-name="animateCounter" data-arts-os-animation-params="{prefix: '+', start: 0, target: 22, suffix: '%', duration: 2.4}">
                    <!-- animated number -->
                    <div class="counter__number h1 js-counter__number">+22%
                    </div>
                    <!-- - animated number -->
                    <div class="counter__label">In-app Purchases</div>
                    <svg class="svg-circle" viewBox="0 0 280 280">
                      <circle class="circle" cx="140" cy="140" r="139" fill="none"></circle>
                    </svg>
                  </div>
                </div>
                <!-- - counter -->
              </div>
            </div>
          </aside>