          <section class="section section-content py-large">
            <div class="container position-relative">
              <div class="row">
                <div class="col-lg-6">
                  <section class="section section-content pb-xsmall">
                    <div class="section-content__content content js-arts-split-text arts-split-text" data-arts-os-animation="true" data-arts-os-animation-name="animateText" data-arts-split-text="lines" data-arts-split-text-set="lines" data-arts-split-text-overflow-wrap="lines">
                      <h2 class="h2 mb-lg-0 mb-3">Project Goals</h2>
                    </div>
                  </section>
                </div>
                <div class="col-lg-6">
                  <section class="section section-list section-content">
                    <div class="section-list__item">
                      <div class="section-list__counter">
                        <div class="section-list__counter-label subheading">01</div>
                        <div class="section-list__wrapper-circle" data-arts-os-animation="true" data-arts-os-animation-name="animateStroke">
                          <svg class="svg-circle" viewBox="0 0 60 60">
                            <circle class="circle" cx="30" cy="30" r="29" fill="none"></circle>
                          </svg>
                        </div>
                      </div>
                      <div class="section-list__content content js-arts-split-text arts-split-text" data-arts-os-animation="true" data-arts-os-animation-name="animateText" data-arts-split-text="lines" data-arts-split-text-set="lines" data-arts-split-text-overflow-wrap="lines">
                        <p class="h6">Become an established brand in the California's digital production industry</p>
                      </div>
                    </div>
                    <div class="section-list__item">
                      <div class="section-list__counter">
                        <div class="section-list__counter-label subheading">02</div>
                        <div class="section-list__wrapper-circle" data-arts-os-animation="true" data-arts-os-animation-name="animateStroke">
                          <svg class="svg-circle" viewBox="0 0 60 60">
                            <circle class="circle" cx="30" cy="30" r="29" fill="none"></circle>
                          </svg>
                        </div>
                      </div>
                      <div class="section-list__content content js-arts-split-text arts-split-text" data-arts-os-animation="true" data-arts-os-animation-name="animateText" data-arts-split-text="lines" data-arts-split-text-set="lines" data-arts-split-text-overflow-wrap="lines">
                        <p class="h6">Research the market and differentiate from competitors through innovation</p>
                      </div>
                    </div>
                    <div class="section-list__item">
                      <div class="section-list__counter">
                        <div class="section-list__counter-label subheading">03</div>
                        <div class="section-list__wrapper-circle" data-arts-os-animation="true" data-arts-os-animation-name="animateStroke">
                          <svg class="svg-circle" viewBox="0 0 60 60">
                            <circle class="circle" cx="30" cy="30" r="29" fill="none"></circle>
                          </svg>
                        </div>
                      </div>
                      <div class="section-list__content content js-arts-split-text arts-split-text" data-arts-os-animation="true" data-arts-os-animation-name="animateText" data-arts-split-text="lines" data-arts-split-text-set="lines" data-arts-split-text-overflow-wrap="lines">
                        <p class="h6">Create and grow a loyal customer base</p>
                      </div>
                    </div>
                    <div class="section-list__item">
                      <div class="section-list__counter">
                        <div class="section-list__counter-label subheading">04</div>
                        <div class="section-list__wrapper-circle" data-arts-os-animation="true" data-arts-os-animation-name="animateStroke">
                          <svg class="svg-circle" viewBox="0 0 60 60">
                            <circle class="circle" cx="30" cy="30" r="29" fill="none"></circle>
                          </svg>
                        </div>
                      </div>
                      <div class="section-list__content content js-arts-split-text arts-split-text" data-arts-os-animation="true" data-arts-os-animation-name="animateText" data-arts-split-text="lines" data-arts-split-text-set="lines" data-arts-split-text-overflow-wrap="lines">
                        <p class="h6">Establish trust and credibility</p>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </section>