          <section class="section section-fullheight section-content section-fullscreen-columns section-horizontal-scroll js-section-horizontal-scroll pb-large pb-lg-0" data-arts-horizontal-scroll="container" data-arts-horizontal-scroll-type="modular" data-arts-horizontal-scroll-toggle-class="in-view">
            <div class="section__content section-horizontal-scroll__wrapper" data-arts-horizontal-scroll="wrapper">
              <div class="d-flex flex-wrap flex-lg-nowrap w-100vw h-lg-100vh-fix-bar z-50 position-relative">
                <div class="section-fullscreen-columns__header d-flex flex-wrap col-lg-6 pt-large pb-large container-fluid" data-arts-horizontal-scroll="section" data-arts-horizontal-scroll-fixed="true">
                  <div class="w-100 mt-auto">
                    <h1 class="h1 section__heading js-arts-split-text arts-split-text my-0" data-arts-os-animation="true" data-arts-os-animation-name="animateText" data-arts-split-text="lines" data-arts-split-text-set="lines" data-arts-split-text-overflow-wrap="lines">iOS Mobile App</h1>
                  </div>
                  <div class="w-100 align-self-end">
                    <div class="h6 js-arts-split-text arts-split-text mt-2" data-arts-os-animation="true" data-arts-os-animation-name="animateText" data-arts-split-text="lines" data-arts-split-text-set="lines" data-arts-split-text-overflow-wrap="lines">40+ screens</div>
                  </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12 text-center d-flex align-items-center mb-3 mb-lg-0" data-arts-horizontal-scroll="section">
                  <div class="container-fluid" data-arts-os-animation="true" data-arts-os-animation-name="animateJump">
                    <div class="lazy-wrapper">
                      <div class="lazy"><img src="#" data-src="img/assets/projects/project1/img-1-1.png" width="400" height="753" alt=""/></div>
                    </div>
                    <div class="h6 mt-1">Grid</div>
                  </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12 text-center d-flex align-items-center mb-3 mb-lg-0" data-arts-horizontal-scroll="section">
                  <div class="container-fluid" data-arts-os-animation="true" data-arts-os-animation-name="animateJump">
                    <div class="lazy-wrapper">
                      <div class="lazy"><img src="#" data-src="img/assets/projects/project1/img-1-2.png" width="400" height="753" alt=""/></div>
                    </div>
                    <div class="h6 mt-1">Category</div>
                  </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12 text-center d-flex align-items-center mb-3 mb-lg-0" data-arts-horizontal-scroll="section">
                  <div class="container-fluid" data-arts-os-animation="true" data-arts-os-animation-name="animateJump">
                    <div class="lazy-wrapper">
                      <div class="lazy"><img src="#" data-src="img/assets/projects/project1/img-1-3.png" width="400" height="753" alt=""/></div>
                    </div>
                    <div class="h6 mt-1">Product Details</div>
                  </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12 text-center d-flex align-items-center mb-3 mb-lg-0" data-arts-horizontal-scroll="section">
                  <div class="container-fluid" data-arts-os-animation="true" data-arts-os-animation-name="animateJump">
                    <div class="lazy-wrapper">
                      <div class="lazy"><img src="#" data-src="img/assets/projects/project1/img-1-1.png" width="400" height="753" alt=""/></div>
                    </div>
                    <div class="h6 mt-1">Cart</div>
                  </div>
                </div>
              </div>
            </div>
            <!-- background -->
            <div class="section__bg bg-portfolio-1 section__bg-container-right" data-arts-os-animation="true" data-arts-os-animation-name="animateScale" data-arts-os-animation-params="{direction: 'right'}"></div>
          </section>