<section class="section section-slider-images pb-large">
  <div class="container">
    <div class="slider slider-images js-slider-images text-center">
      <div
        class="slider-images__slider swiper-container js-slider-images__slider"
        data-autoplay-enabled="true"
        data-autoplay-delay="6000"
        data-centered-slides="false"
        data-drag-mouse="true"
        data-drag-cursor="true"
        data-drag-label="Drag"
        data-drag-hide-cursor="true"
        data-drag-class="slider-images_scale-up"
        data-keyboard-enabled="true"
        data-touch-ratio="2">
        <div
          class="swiper-wrapper">
          <!-- item -->
          <div class="swiper-slide slider-images__slide overflow">
            <div
              class="mask-reveal overflow"
              data-arts-os-animation="true"
              data-arts-os-animation-name="animateMask"
              data-arts-os-animation-params="{direction: 'up'}">
              <div class="mask-reveal__layer mask-reveal__layer-1">
                <div class="mask-reveal__layer mask-reveal__layer-2"><img
                    class="swiper-lazy"
                    src="#"
                    data-src="assets/img/assets/section/sectionSliderImages/img-1.jpg"
                    width="1120"
                    height="670"
                    alt=""/>
                </div>
              </div>
            </div>
          </div>
          <!-- item -->
          <div class="swiper-slide slider-images__slide overflow">
            <div
              class="mask-reveal overflow"
              data-arts-os-animation="true"
              data-arts-os-animation-name="animateMask"
              data-arts-os-animation-params="{direction: 'up'}">
              <div class="mask-reveal__layer mask-reveal__layer-1">
                <div class="mask-reveal__layer mask-reveal__layer-2"><img
                    class="swiper-lazy"
                    src="#"
                    data-src="assets/img/assets/section/sectionSliderImages/img-2.jpg"
                    width="1120"
                    height="670"
                    alt=""/>
                </div>
              </div>
            </div>
          </div>
          <!-- item -->
          <div class="swiper-slide slider-images__slide overflow">
            <div
              class="mask-reveal overflow"
              data-arts-os-animation="true"
              data-arts-os-animation-name="animateMask"
              data-arts-os-animation-params="{direction: 'up'}">
              <div class="mask-reveal__layer mask-reveal__layer-1">
                <div class="mask-reveal__layer mask-reveal__layer-2"><img
                    class="swiper-lazy"
                    src="#"
                    data-src="assets/img/assets/section/sectionSliderImages/img-3.jpg"
                    width="1120"
                    height="670"
                    alt=""/>
                </div>
              </div>
            </div>
          </div>
          <!-- item -->
          <div class="swiper-slide slider-images__slide overflow">
            <div
              class="mask-reveal overflow"
              data-arts-os-animation="true"
              data-arts-os-animation-name="animateMask"
              data-arts-os-animation-params="{direction: 'up'}">
              <div class="mask-reveal__layer mask-reveal__layer-1">
                <div class="mask-reveal__layer mask-reveal__layer-2"><img
                    class="swiper-lazy"
                    src="#"
                    data-src="assets/img/assets/section/sectionSliderImages/img-4.jpg"
                    width="1120"
                    height="670"
                    alt=""/>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="is-dragging__blocker"></div>
      </div>
      <!-- slider CAPTIONS -->
      <div
        class="slider-images__captions swiper-container js-slider-images__captions mt-xsmall"
        data-slides-per-view="3"
        data-slides-per-view-tablet="1.5"
        data-slides-per-view-mobile="1.25"
        data-centered-slides="true"
        data-centered-slides-tablet="true"
        data-centered-slides-mobile="true"
        data-arts-os-animation="true"
        data-arts-os-animation-name="animateJump">
        <div
          class="swiper-wrapper">
          <!-- caption -->
          <div class="swiper-slide pt-3 js-arts-cursor-highlight">
            <div class="slider-images__caption h6">01&nbsp;&nbsp;/&nbsp;&nbsp;Wireframing</div>
          </div>
          <!-- caption -->
          <div class="swiper-slide pt-3 js-arts-cursor-highlight">
            <div class="slider-images__caption h6">02&nbsp;&nbsp;/&nbsp;&nbsp;Design</div>
          </div>
          <!-- caption -->
          <div class="swiper-slide pt-3 js-arts-cursor-highlight">
            <div class="slider-images__caption h6">03&nbsp;&nbsp;/&nbsp;&nbsp;Coding</div>
          </div>
          <!-- caption -->
          <div class="swiper-slide pt-3 js-arts-cursor-highlight">
            <div class="slider-images__caption h6">04&nbsp;&nbsp;/&nbsp;&nbsp;Production</div>
          </div>
          <div class="slider-images__underline js-slider-images__underline"></div>
        </div>
      </div>
      <!-- - slider CAPTIONS -->
      <!-- slider ARROWS -->
      <div
        class="slider__arrow slider__arrow_absolute slider__arrow_left js-slider__arrow-prev"
        data-arts-os-animation="true"
        data-arts-os-animation-name="animateJump"
        data-arts-os-animation-params="{x: -30, y: 0}">
        <div
          class="slider__arrow material-icons js-slider__arrow-prev"
          data-arts-cursor="data-arts-cursor"
          data-arts-cursor-scale="1.7"
          data-arts-cursor-magnetic="data-arts-cursor-magnetic"
          data-arts-cursor-hide-native="true">keyboard_arrow_left</div>
      </div>
      <div
        class="slider__arrow slider__arrow_absolute slider__arrow_right js-slider__arrow-next"
        data-arts-os-animation="true"
        data-arts-os-animation-name="animateJump"
        data-arts-os-animation-params="{x: 30, y: 0}">
        <div
          class="slider__arrow material-icons js-slider__arrow-next"
          data-arts-cursor="data-arts-cursor"
          data-arts-cursor-scale="1.7"
          data-arts-cursor-magnetic="data-arts-cursor-magnetic"
          data-arts-cursor-hide-native="true">keyboard_arrow_right</div>
      </div>
      <!-- - slider ARROWS -->
    </div>
  </div>
</section>