<section class="section section-intro section-content pt-xlarge pb-xlarge">
  <div class="container mt-5 mt-md-0">
    <div class="row">
      <div class="col-md-8">
        <div
          class="section-content__content content js-arts-split-text arts-split-text"
          data-arts-os-animation="true"
          data-arts-os-animation-name="animateText"
          data-arts-split-text="lines"
          data-arts-split-text-set="lines"
          data-arts-split-text-overflow-wrap="lines">
          <div class="section-content__subline h6 color-accent-1">Pokaż się z najlepszej strony</div>
          <h1 class="h1 mb-0">Pokaż się z najlepszej strony</h1>
        </div>
        <div class="row gx-2">
          <div
            class="col-auto section-content__wrapper-button mt-5"
            data-arts-os-animation="true"
            data-arts-os-animation-name="animateJump">
            <a class="button button_icon button_bordered bg-gray-1" href="/kontakt/">
              <span class="button__label button__label-normal">
                <span class="button__title">Skontaktuj się</span>
                <span class="button__icon button__icon_after knz-arrow-right"></span>
              </span>
              <span class="button__label button__label-hover">
                <span class="button__title">Skontaktuj się</span>
                <span class="button__icon button__icon_after knz-arrow-right"></span>
              </span>
            </a>
          </div>
          <div
            class="col-auto section-content__wrapper-button mt-5"
            data-arts-os-animation="true"
            data-arts-os-animation-name="animateJump">
            <a class="button button_icon button_solid bg-accent-1" href="/wycena/">
              <span class="button__label button__label-normal">
                <span class="button__title">Darmowa wycena</span>
                <span class="button__icon button__icon_after knz-arrow-right"></span>
              </span>
              <span class="button__label button__label-hover">
                <span class="button__title">Darmowa wycena</span>
                <span class="button__icon button__icon_after knz-arrow-right"></span>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>