          <section class="section section-logos section-content text-center bg-light-3 pb-large">
            <div class="container">
              <table class="table table_no-outer-borders table-xs-flex">
                <tbody>
                  <tr>
                    <td>
                      <div class="section-logos__wrapper-logo" data-arts-os-animation="true" data-arts-os-animation-name="animateJump" data-arts-os-animation-params="{direction: 'up', y: '66%', scaleY: 1.5}">
                        <div class="lazy-wrapper">
                          <div class="lazy"><img src="#" data-src="img/assets/section/sectionLogos/logo-1.png" width="163" height="117" alt=""/></div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="section-logos__wrapper-logo" data-arts-os-animation="true" data-arts-os-animation-name="animateJump" data-arts-os-animation-params="{direction: 'up', y: '66%', scaleY: 1.5}">
                        <div class="lazy-wrapper">
                          <div class="lazy"><img src="#" data-src="img/assets/section/sectionLogos/logo-2.png" width="163" height="93" alt=""/></div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="section-logos__wrapper-logo" data-arts-os-animation="true" data-arts-os-animation-name="animateJump" data-arts-os-animation-params="{direction: 'up', y: '66%', scaleY: 1.5}">
                        <div class="lazy-wrapper">
                          <div class="lazy"><img src="#" data-src="img/assets/section/sectionLogos/logo-3.png" width="163" height="85" alt=""/></div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="section-logos__wrapper-logo" data-arts-os-animation="true" data-arts-os-animation-name="animateJump" data-arts-os-animation-params="{direction: 'up', y: '66%', scaleY: 1.5}">
                        <div class="lazy-wrapper">
                          <div class="lazy"><img src="#" data-src="img/assets/section/sectionLogos/logo-4.png" width="163" height="162" alt=""/></div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="section-logos__wrapper-logo" data-arts-os-animation="true" data-arts-os-animation-name="animateJump" data-arts-os-animation-params="{direction: 'up', y: '66%', scaleY: 1.5}">
                        <div class="lazy-wrapper">
                          <div class="lazy"><img src="#" data-src="img/assets/section/sectionLogos/logo-5.png" width="163" height="73" alt=""/></div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="section-logos__wrapper-logo" data-arts-os-animation="true" data-arts-os-animation-name="animateJump" data-arts-os-animation-params="{direction: 'up', y: '66%', scaleY: 1.5}">
                        <div class="lazy-wrapper">
                          <div class="lazy"><img src="#" data-src="img/assets/section/sectionLogos/logo-6.png" width="163" height="163" alt=""/></div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="section-logos__wrapper-logo" data-arts-os-animation="true" data-arts-os-animation-name="animateJump" data-arts-os-animation-params="{direction: 'up', y: '66%', scaleY: 1.5}">
                        <div class="lazy-wrapper">
                          <div class="lazy"><img src="#" data-src="img/assets/section/sectionLogos/logo-7.png" width="163" height="62" alt=""/></div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="section-logos__wrapper-logo" data-arts-os-animation="true" data-arts-os-animation-name="animateJump" data-arts-os-animation-params="{direction: 'up', y: '66%', scaleY: 1.5}">
                        <div class="lazy-wrapper">
                          <div class="lazy"><img src="#" data-src="img/assets/section/sectionLogos/logo-8.png" width="163" height="131" alt=""/></div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="section-logos__wrapper-logo" data-arts-os-animation="true" data-arts-os-animation-name="animateJump" data-arts-os-animation-params="{direction: 'up', y: '66%', scaleY: 1.5}">
                        <div class="lazy-wrapper">
                          <div class="lazy"><img src="#" data-src="img/assets/section/sectionLogos/logo-9.png" width="163" height="163" alt=""/></div>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>