<section class="section section-testimonials py-xlarge">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-auto">
                <div
                    class="slider-testimonials__wrapper-circle mb-4"
                    data-arts-os-animation="true"
                    data-arts-os-animation-name="animateJump"><img class="slider-testimonials__quote" src="assets/img/general/quote-black.svg" width="50" height="44" alt=""/>
                    <svg class="svg-circle" viewbox="0 0 60 60">
                        <circle class="circle" cx="30" cy="30" r="29" fill="none"></circle>
                    </svg>
                </div>
            </div>
            <div class="col-lg-9">
                <div
                    class="slider slider-testimonials swiper-container js-slider"
                    data-autoplay-enabled="true"
                    data-autoplay-delay="9000"
                    data-transition="text">
                    <div
                        class="swiper-wrapper">
                        <!-- item -->
                        <div class="swiper-slide">
                            <div
                                class="slider__text slider-testimonials__text h3 js-arts-split-text arts-split-text"
                                data-arts-os-animation="true"
                                data-arts-os-animation-name="animateText"
                                data-arts-split-text="lines"
                                data-arts-split-text-set="lines"
                                data-arts-split-text-overflow-wrap="lines">I chosen others because Its not possible to choose all. I am amazed with his
                                work. The good thing about this theme is the front end Elementor builder. I really love it and I am personally using
                                this to showcase my work. I have decided to use this on my own brand.</div>
                            <div
                                class="slider__text slider-testimonials__author mt-4 js-arts-split-text arts-split-text"
                                data-arts-os-animation="true"
                                data-arts-os-animation-name="animateText"
                                data-arts-split-text="lines"
                                data-arts-split-text-set="lines"
                                data-arts-split-text-overflow-wrap="lines">Client – George Talley</div>
                        </div>
                        <!-- item -->
                        <div class="swiper-slide">
                            <div
                                class="slider__text slider-testimonials__text h3 js-arts-split-text arts-split-text"
                                data-arts-os-animation="true"
                                data-arts-os-animation-name="animateText"
                                data-arts-split-text="lines"
                                data-arts-split-text-set="lines"
                                data-arts-split-text-overflow-wrap="lines">I chosen others because Its not possible to choose all. I am amazed with his
                                work. The good thing about this theme is the front end Elementor builder. I really love it and I am personally using
                                this to showcase my work. I have decided to use this on my own brand.</div>
                            <div
                                class="slider__text slider-testimonials__author mt-4 js-arts-split-text arts-split-text"
                                data-arts-os-animation="true"
                                data-arts-os-animation-name="animateText"
                                data-arts-split-text="lines"
                                data-arts-split-text-set="lines"
                                data-arts-split-text-overflow-wrap="lines">Client – George Talley</div>
                        </div>
                        <!-- item -->
                        <div class="swiper-slide">
                            <div
                                class="slider__text slider-testimonials__text h3 js-arts-split-text arts-split-text"
                                data-arts-os-animation="true"
                                data-arts-os-animation-name="animateText"
                                data-arts-split-text="lines"
                                data-arts-split-text-set="lines"
                                data-arts-split-text-overflow-wrap="lines">I chosen others because Its not possible to choose all. I am amazed with his
                                work. The good thing about this theme is the front end Elementor builder. I really love it and I am personally using
                                this to showcase my work. I have decided to use this on my own brand.</div>
                            <div
                                class="slider__text slider-testimonials__author mt-4 js-arts-split-text arts-split-text"
                                data-arts-os-animation="true"
                                data-arts-os-animation-name="animateText"
                                data-arts-split-text="lines"
                                data-arts-split-text-set="lines"
                                data-arts-split-text-overflow-wrap="lines">Client – George Talley</div>
                        </div>
                        <!-- item -->
                        <div class="swiper-slide">
                            <div
                                class="slider__text slider-testimonials__text h3 js-arts-split-text arts-split-text"
                                data-arts-os-animation="true"
                                data-arts-os-animation-name="animateText"
                                data-arts-split-text="lines"
                                data-arts-split-text-set="lines"
                                data-arts-split-text-overflow-wrap="lines">I chosen others because Its not possible to choose all. I am amazed with his
                                work. The good thing about this theme is the front end Elementor builder. I really love it and I am personally using
                                this to showcase my work. I have decided to use this on my own brand.</div>
                            <div
                                class="slider__text slider-testimonials__author mt-4 js-arts-split-text arts-split-text"
                                data-arts-os-animation="true"
                                data-arts-os-animation-name="animateText"
                                data-arts-split-text="lines"
                                data-arts-split-text-set="lines"
                                data-arts-split-text-overflow-wrap="lines">Client – George Talley</div>
                        </div>
                    </div>
                </div>
                <!-- slider DOTS -->
                <div class="slider__dots js-slider__dots" data-arts-os-animation="true" data-arts-os-animation-name="animateJump">
                    <div class="slider__dot"></div>
                </div>
                <!-- - slider DOTS -->
            </div>
            <div
                class="col-lg-1 align-self-center">
                <!-- slider ARROWS -->
                <div
                    class="slider__wrapper-arrows slider__wrapper-arrows_vertical d-lg-flex d-none"
                    data-arts-os-animation="true"
                    data-arts-os-animation-name="animateJump">
                    <div
                        class="slider__arrow material-icons js-slider__arrow-prev"
                        data-arts-cursor="data-arts-cursor"
                        data-arts-cursor-scale="1.7"
                        data-arts-cursor-magnetic="data-arts-cursor-magnetic"
                        data-arts-cursor-hide-native="true">keyboard_arrow_up</div>
                    <div
                        class="slider__arrow material-icons js-slider__arrow-next"
                        data-arts-cursor="data-arts-cursor"
                        data-arts-cursor-scale="1.7"
                        data-arts-cursor-magnetic="data-arts-cursor-magnetic"
                        data-arts-cursor-hide-native="true">keyboard_arrow_down</div>
                </div>
                <!-- - slider ARROWS -->
            </div>
        </div>
    </div>
</section>