<section class="section section-testimonials pb-large">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-auto">
                <div
                    class="slider-testimonials__wrapper-circle mb-4"
                    data-arts-os-animation="true"
                    data-arts-os-animation-name="animateJump"><img class="slider-testimonials__quote" src="assets/img/general/quote-black.svg" width="50" height="44" alt=""/>
                    <svg class="svg-circle" viewbox="0 0 60 60">
                        <circle class="circle" cx="30" cy="30" r="29" fill="none"></circle>
                    </svg>
                </div>
            </div>
            <div class="col-lg-8">
                <div
                    class="slider slider-testimonials swiper-container js-slider"
                    data-autoplay-enabled="true"
                    data-autoplay-delay="9000"
                    data-transition="text">
                    <div
                        class="swiper-wrapper">
                        <!-- item -->
                        <div class="swiper-slide">
                            <div
                                class="slider__text slider-testimonials__text h3 js-arts-split-text arts-split-text"
                                data-arts-os-animation="true"
                                data-arts-os-animation-name="animateText"
                                data-arts-split-text="lines"
                                data-arts-split-text-set="lines"
                                data-arts-split-text-overflow-wrap="lines">Sprawnie, szybko i tak jak chciałem a do tego strona zbudowana zgodnie z aktualnymi trendami :)</div>
                            <div
                                class="slider__text slider-testimonials__author mt-4 js-arts-split-text arts-split-text"
                                data-arts-os-animation="true"
                                data-arts-os-animation-name="animateText"
                                data-arts-split-text="lines"
                                data-arts-split-text-set="lines"
                                data-arts-split-text-overflow-wrap="lines">C7Med</div>
                        </div>
                        <!-- item -->
                        <div class="swiper-slide">
                            <div
                                class="slider__text slider-testimonials__text h3 js-arts-split-text arts-split-text"
                                data-arts-os-animation="true"
                                data-arts-os-animation-name="animateText"
                                data-arts-split-text="lines"
                                data-arts-split-text-set="lines"
                                data-arts-split-text-overflow-wrap="lines">Strona jest zgodna z moimi oczekiwaniami i sugestiami. Do tego naprawdę dobry kontakt.</div>
                            <div
                                class="slider__text slider-testimonials__author mt-4 js-arts-split-text arts-split-text"
                                data-arts-os-animation="true"
                                data-arts-os-animation-name="animateText"
                                data-arts-split-text="lines"
                                data-arts-split-text-set="lines"
                                data-arts-split-text-overflow-wrap="lines">Pizzeria Bianca</div>
                        </div>
                        <!-- item -->
                        <div class="swiper-slide">
                            <div
                                class="slider__text slider-testimonials__text h3 js-arts-split-text arts-split-text"
                                data-arts-os-animation="true"
                                data-arts-os-animation-name="animateText"
                                data-arts-split-text="lines"
                                data-arts-split-text-set="lines"
                                data-arts-split-text-overflow-wrap="lines">Polecam wszystkim przyszłym klientom. Strona bardzo ładnie się prezentuje. </div>
                            <div
                                class="slider__text slider-testimonials__author mt-4 js-arts-split-text arts-split-text"
                                data-arts-os-animation="true"
                                data-arts-os-animation-name="animateText"
                                data-arts-split-text="lines"
                                data-arts-split-text-set="lines"
                                data-arts-split-text-overflow-wrap="lines">Gaszyn Park</div>
                        </div>
                        <!-- item -->
                        <div class="swiper-slide">
                            <div
                                class="slider__text slider-testimonials__text h3 js-arts-split-text arts-split-text"
                                data-arts-os-animation="true"
                                data-arts-os-animation-name="animateText"
                                data-arts-split-text="lines"
                                data-arts-split-text-set="lines"
                                data-arts-split-text-overflow-wrap="lines">Pełen profesjonalizm i rzetelność wykonania. Świetne pomysły, kreatywność i ogromna wiedza! </div>
                            <div
                                class="slider__text slider-testimonials__author mt-4 js-arts-split-text arts-split-text"
                                data-arts-os-animation="true"
                                data-arts-os-animation-name="animateText"
                                data-arts-split-text="lines"
                                data-arts-split-text-set="lines"
                                data-arts-split-text-overflow-wrap="lines">Twoje konsultacje</div>
                        </div>
                    </div>
                </div>
                <!-- slider DOTS -->
                <div class="slider__dots js-slider__dots" data-arts-os-animation="true" data-arts-os-animation-name="animateJump">
                    <div class="slider__dot"></div>
                </div>
                <!-- - slider DOTS -->
            </div>
            <div
                class="col-lg-1 align-self-center">
                <!-- slider ARROWS -->
                <div
                    class="slider__wrapper-arrows slider__wrapper-arrows_vertical d-lg-flex d-none"
                    data-arts-os-animation="true"
                    data-arts-os-animation-name="animateJump">
                    <div
                        class="slider__arrow material-icons js-slider__arrow-prev">keyboard_arrow_up</div>
                    <div
                        class="slider__arrow material-icons js-slider__arrow-next">keyboard_arrow_down</div>
                </div>
                <!-- - slider ARROWS -->
            </div>
        </div>
    </div>
</section>