        </main>
            <footer class="footer pt-medium bg-dark-1" id="page-footer" data-arts-theme-text="light"
               data-arts-fixed-reveal="data-arts-fixed-reveal" data-arts-fixed-reveal-from="-20vh"
               data-arts-fixed-reveal-from-opacity="0">
               <div class="footer__inner">
                  <div class="container">
                     <!-- widget area #1 [wide] -->
                     <div class="row pb-md-3">
                        <div class="col">
                           <section class="widget widget_text">
                              <h4>
                                 Przemek Miros
                              </h4>
                           </section>
                        </div>
                     </div>
                     <!-- - widget area #1 [wide] -->
                     <!-- widget area #2 [4 columns] -->
                     <div class="row justify-content-between position-relative pt-3 pb-5">
                        <div class="col-lg-3 col-sm-6">
                           <section class="widget widget_text">
                              <div class="textwidget">
                                 <p>Fryderyka Chopina 74<br>05-800 Pruszków<br>kontakt@futurewebstudio.pl</p>
                              </div>
                           </section>
                        </div>
                        <div class="col-lg-3 col-sm-6 d-flex align-items-end justify-content-end-t">
                           <section class="widget widget_kinsey_social">
                              <ul class="social">
                                 <li class="social__item"><a class="social__icon fa-fw fab fa-facebook-f"
                                       href="https://www.facebook.com/stronyinternetowefutureweb" target="_blank"></a>
                                 </li>
                                 <li class="social__item"><a class="social__icon fa-fw fab fa-instagram"
                                       href="https://www.linkedin.com/in/przemys%C5%82aw-miros-6b6b431a2/"
                                       target="_blank"></a></li>
                                 <li class="social__item"><a class="social__icon fa-fw fab fa-behance"
                                       href="https://github.com/PrzemekMiros" target="_blank"></a></li>
                              </ul>
                           </section>
                        </div>
                     </div>
                     <!-- - widget area #2 [4 columns] -->
                     <!-- widget area #3 [2 columns] -->
                     <div class="row justify-content-between align-items-center position-relative pt-5 pb-4">
                        <div class="footer__divider"></div>
                        <section class="widget widget_text text-center">
                           <div class="textwidget">
                              <p><small>© 2021 Przemek Miros © All rights reserved | <a
                                       href="https://przemekmiros.pl/polityka-prywatnosci">Polityka
                                       prywatności</a></small></p>
                           </div>
                        </section>
                     </div>
                     <!-- - widget area #3 [2 columns] -->
                  </div>
               </div>
            </footer>