        </main>
        <!-- - PAGE CONTENT -->
        <!-- PAGE FOOTER -->
        <footer class="footer pt-medium bg-dark-1" id="page-footer" data-arts-theme-text="light" data-arts-fixed-reveal="data-arts-fixed-reveal" data-arts-fixed-reveal-from="-20vh" data-arts-fixed-reveal-from-opacity="0">
          <div class="footer__inner">
            <div class="container">
              <!-- widget area #1 [wide] -->
              <div class="row pb-md-3">
                <div class="col">
                  <section class="widget widget_text">
                    <div class="textwidget"><h3>Kinsey has more than 5 years of crafting digital experiences for the various brands. <em>Would you like to share your project with us?</em><br><br><a class="underline-hover-self" href="#">hello@example.com</a></h3></div>
                  </section>
                </div>
              </div>
              <!-- - widget area #1 [wide] -->
              <!-- widget area #2 [4 columns] -->
              <div class="row justify-content-between position-relative pt-md-5 pt-4 pb-md-3">
                <div class="footer__divider"></div>
                <div class="col-lg-3 col-sm-6">
                  <section class="widget widget_nav_menu">
                    <h2 class="widgettitle">Quick Links</h2>
                    <div>
                      <ul class="menu">
                        <li class="menu-item"><a href="index.html">Home</a></li>
                        <li class="menu-item"><a href="027-portfolio-grid-3-columns.html">Portfolio</a></li>
                        <li class="menu-item"><a href="034-services.html">Services</a></li>
                        <li class="menu-item"><a href="035-about.html">About</a></li>
                        <li class="menu-item"><a href="037-blog-posts-list-backgrounds.html">Blog</a></li>
                        <li class="menu-item"><a href="036-contacts.html">Contacts</a></li>
                      </ul>
                    </div>
                  </section>
                </div>
                <div class="col-lg-3 col-sm-6">
                  <section class="widget widget_nav_menu">
                    <h2 class="widgettitle">Latest Works</h2>
                    <div>
                      <ul class="menu">
                        <li class="menu-item"><a href="013-portfolio-details-masthead-boxed-horizontal.html">Errica Fashion Store</a></li>
                        <li class="menu-item"><a href="014-portfolio-details-masthead-boxed-horizontal.html">Zero Audio Speaker</a></li>
                        <li class="menu-item"><a href="015-portfolio-details-masthead-boxed-vertical.html">Contemporary Workplace</a></li>
                        <li class="menu-item"><a href="016-portfolio-details-masthead-boxed-vertical.html">Cassio Apartments</a></li>
                        <li class="menu-item"><a href="017-portfolio-details-masthead-fullwidth-horizontal.html">Winter Villa</a></li>
                        <li class="menu-item"><a href="018-portfolio-details-masthead-boxed-vertical.html">Portable Stereo</a></li>
                      </ul>
                    </div>
                  </section>
                </div>
                <div class="col-lg-3 col-sm-6">
                  <section class="widget widget_text">
                    <h2 class="widgettitle">Office Location</h2>
                    <div class="textwidget"><p>4903 Mayo Street<br>Cincinnati<br>KY 45202<br>USA</p></div>
                  </section>
                </div>
                <div class="col-lg-3 col-sm-6">
                  <section class="widget widget_text">
                    <h2 class="widgettitle">Contacts</h2>
                    <div class="textwidget"><p><a href="#">hello@example.com</a><br>+1 501 639 5134<br>+1 707 748 9334</p></div>
                  </section>
                </div>
              </div>
              <!-- - widget area #2 [4 columns] -->
              <!-- widget area #3 [2 columns] -->
              <div class="row justify-content-between align-items-center position-relative pt-4">
                <div class="footer__divider"></div>
                <div class="col-lg-4 order-lg-2 text-lg-end text-center">
                  <section class="widget widget_kinsey_social">
                    <ul class="social">
                      <li class="social__item"><a class="social__icon fa-fw fab fa-facebook-f" href="#"></a></li>
                      <li class="social__item"><a class="social__icon fa-fw fab fa-instagram" href="#"></a></li>
                      <li class="social__item"><a class="social__icon fa-fw fab fa-behance" href="#"></a></li>
                    </ul>
                  </section>
                </div>
                <div class="col-lg-8 text-lg-start text-center">
                  <section class="widget widget_text">
                    <div class="textwidget"><p><small>© 2023 Kinsey – AJAX Agency HTML5 Template. Crafted by <a href="https://themeforest.net/user/artemsemkin" target="_blank">Artem Semkin.</a></small></p></div>
                  </section>
                </div>
              </div>
              <!-- - widget area #3 [2 columns] -->
            </div>
          </div>
        </footer>
        <!-- - PAGE FOOTER -->