<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>{{ title }} - Net Guru</title>
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta name="HandheldFriendly" content="true"/>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Syne:wght@300;400;500;600;700;800&display=swap" rel="stylesheet"> 
    <!-- Template Vendor's Stylesheet -->
    <link rel="stylesheet" type="text/css" href="/assets/css/vendor.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css"/>
    <!-- Favicons & App Icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="assets/assets/img/content/apple-icon-57x57.png"/>
    <link rel="apple-touch-icon" sizes="60x60" href="assets/img/content/apple-icon-60x60.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="assets/img/content/apple-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/content/apple-icon-76x76.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="assets/img/content/apple-icon-114x114.png"/>
    <link rel="apple-touch-icon" sizes="120x120" href="assets/img/content/apple-icon-120x120.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="assets/img/content/apple-icon-144x144.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="assets/img/content/apple-icon-152x152.png"/>
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/content/apple-icon-180x180.png"/>
    <link rel="icon" type="image/png" sizes="192x192" href="assets/img/content/android-icon-192x192.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/content/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/content/favicon-96x96.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/content/favicon-16x16.png"/>
    <link rel="manifest" href="assets/img/content/manifest.json"/>
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="msapplication-TileImage" content="assets/img/content/ms-icon-144x144.png"/>
    <meta name="theme-color" content="#ffffff"/>
    <link rel="icon" type="image/x-icon" href="assets/img/content/favicon.ico"/>
  </head>
  <body>
    <div data-barba="wrapper">