<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>{{ title }} - Net Guru</title>
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta name="HandheldFriendly" content="true"/>
    <!-- Template Vendor's Stylesheet -->
    <link rel="stylesheet" type="text/css" href="/assets/css/vendor.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css"/>
    <!-- Favicons & App Icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="assets/assets/img/content/apple-icon-57x57.png"/>
    <link rel="apple-touch-icon" sizes="60x60" href="assets/img/content/apple-icon-60x60.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="assets/img/content/apple-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/content/apple-icon-76x76.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="assets/img/content/apple-icon-114x114.png"/>
    <link rel="apple-touch-icon" sizes="120x120" href="assets/img/content/apple-icon-120x120.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="assets/img/content/apple-icon-144x144.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="assets/img/content/apple-icon-152x152.png"/>
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/content/apple-icon-180x180.png"/>
    <link rel="icon" type="image/png" sizes="192x192" href="assets/img/content/android-icon-192x192.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/content/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/content/favicon-96x96.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/content/favicon-16x16.png"/>
    <link rel="manifest" href="assets/img/content/manifest.json"/>
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="msapplication-TileImage" content="assets/img/content/ms-icon-144x144.png"/>
    <meta name="theme-color" content="#ffffff"/>
    <link rel="icon" type="image/x-icon" href="assets/img/content/favicon.ico"/>
    <style>
      /* syne-regular - latin-ext_latin */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/syne-v15-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('assets/fonts/syne-v15-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/fonts/syne-v15-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets/fonts/syne-v15-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('assets/fonts/syne-v15-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('assets/fonts/syne-v15-latin-ext_latin-regular.svg#Syne') format('svg'); /* Legacy iOS */
}

/* syne-600 - latin-ext_latin */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  src: url('assets/fonts/syne-v15-latin-ext_latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('assets/fonts/syne-v15-latin-ext_latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/fonts/syne-v15-latin-ext_latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets/fonts/syne-v15-latin-ext_latin-600.woff') format('woff'), /* Modern Browsers */
       url('assets/fonts/syne-v15-latin-ext_latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('assets/fonts/syne-v15-latin-ext_latin-600.svg#Syne') format('svg'); /* Legacy iOS */
}

/* syne-700 - latin-ext_latin */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/syne-v15-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('assets/fonts/syne-v15-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/fonts/syne-v15-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets/fonts/syne-v15-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
       url('assets/fonts/syne-v15-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('assets/fonts/syne-v15-latin-ext_latin-700.svg#Syne') format('svg'); /* Legacy iOS */
}
/* montserrat-regular - latin-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v25-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/montserrat-v25-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v25-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v25-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v25-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v25-latin-ext_latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-700 - latin-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/montserrat-v25-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/montserrat-v25-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v25-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v25-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v25-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v25-latin-ext_latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-800 - latin-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/montserrat-v25-latin-ext_latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/montserrat-v25-latin-ext_latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v25-latin-ext_latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v25-latin-ext_latin-800.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v25-latin-ext_latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v25-latin-ext_latin-800.svg#Montserrat') format('svg'); /* Legacy iOS */
}

    </style>
  </head>
  <body>
    <div data-barba="wrapper">