--- 
layout: layouts/base.njk
title:  Main
---

{% include "modules/intro.njk" %}
{% include "modules/portfolio-slider.njk" %}
{% include "modules/testimonials.njk" %}
{% include "modules/images-slider.njk" %}
{% include "modules/categories.njk" %}