--- 
layout: layouts/nofooter.njk
title: Kontakt
description: Masz pytania? Skontaktuj się ze mną
---

<section class="section section-content">
    <iframe class="brief" data-arts-os-animation="true"
                                data-arts-os-animation-name="animateJump"
allowtransparency="true" 
allowfullscreen="true" 
allow="geolocation; microphone; camera" 
src="https://my.forms.app/form/63bf356f597af40147b9ef6b" 
frameborder="0">
</iframe>
</section>